.navbar {
    position: fixed;
    height: 55px;
    width: 100%;
    max-width: 400px;
    align-items: center;
    background:none;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.navbar a {
    position: relative;
    color:white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0px;
    transition: 0.3s;
}
.navbar a:hover {
    color: yellow;
}