.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    align-items: center;
    background: none;
    display: flex;
    gap: 2rem;
    z-index: 1000;
    padding: 1rem 2rem;
}

.navbar a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #FFD700;
}